/* 10-layout-floats.css */

.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.show, .visible {
    display: block !important;
}

.hidden, .hide {
    display: none !important;
}

.invisible {
    visibility: hidden;
}

.text-hide {
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}
