// Grid system
//
// Generate semantic grid columns with these mixins.
@use "./_clearfix.scss" as clearfix;
@use "../modules/variables.scss" as variables;
@use "sass:math";

// Centered container element
@mixin jtf-container-fixed($gutter: variables.$grid-gutter-width) {
    margin-right:  auto;
    margin-left:   auto;
    padding-left:  math.floor(calc($gutter / 2));
    padding-right: math.ceil(calc($gutter / 2));
    // If clearfix mixin is missing, comment out the next line to avoid errors
    // @include clearfix.jtf-clearfix;
}
