// Grid system
//
// Generate semantic grid columns with these mixins.
@import "clearfix";
@import "../modules/variables";

// Centered container element
@mixin jtf-container-fixed($gutter: $grid-gutter-width) {
    margin-right:  auto;
    margin-left:   auto;
    padding-left:  floor(calc($gutter / 2));
    padding-right: ceil(calc($gutter / 2));
    @include jtf-clearfix;
}
