/* _alerts-base.scss */
@import "variables";

.alert {
    padding:       $alert-padding;
    margin-bottom: $line-height-base;
    border:        $alert-border;
    border-radius: $alert-border-radius;

    // Provide class for links that match alerts
    .alert-link {
        font-weight: bold;
    }

    // Improve alignment and spacing of inner content
    > p, > ul {
        margin-bottom: 0;
    }

    > p + p {
        margin-top: 6px;
    }
}
