/* _buttons-base.scss */
@import "variables";
@import "../mixins/buttons";
@import "../mixins/tab-focus";
@import "../mixins/vendor-prefixes";

.btn {
    background-image:    none;
    border:              1px solid transparent;
    border-radius:       $btn-border-radius-base;
    cursor:              pointer;
    display:             inline-block;
    font-size:           $font-size-base;
    font-weight:         $btn-font-weight;
    line-height:         $line-height-base;
    margin-bottom:       0;
    padding:             $padding-base-vertical $padding-base-horizontal;
    text-align:          center;
    touch-action:        manipulation;
    user-select:         none;
    vertical-align:      middle;
    white-space:         nowrap;

    &, &:active, &.active {
        &:focus, &.focus {
            @include jtf-tab-focus;
        }
    }

    &:hover, &:focus, &.focus {
        color: $black;
        text-decoration: none;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5);
    }

    &:active, &.active {
        outline: 0;
        background-image: none;
    }

    &.disabled, &[disabled], fieldset[disabled] & {
        cursor:      $cursor-disabled;
        box-shadow:  none;
        $opacity:    .65;
        $opacity-ie: (.65 * 100); // IE8 filter
        opacity:     $opacity;
        filter:      alpha(opacity=$opacity-ie);
    }
}

a.btn {
    &.disabled, fieldset[disabled] & {
        pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
}

.btn-primary {
    @include jtf-button-variant($white, $blue-darken-3, $blue-darken-4);
}

.btn-secondary {
    @include jtf-button-variant($grey-darken-4, $white, $grey-lighten-1);
}
