/* _dev-backgrounds.scss */
@import "variables";

.bg-dev-pink {
    background-color: $dev-pink;
}

.bg-dev-green {
    background-color: $dev-green;
}

.bg-dev-orange {
    background-color: $dev-orange;
}

.bg-dev-blue {
    background-color: $dev-blue;
}

.bg-dev-yellow {
    background-color: $dev-yellow;
}

.bg-dev-purple {
    background-color: $dev-purple;
}