/* _floats.scss */
@import "../mixins/clearfix";

.clearfix {
    @include jtf-clearfix;
}

.center-block {
    display:      block;
    margin-left:  auto;
    margin-right: auto;
}

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

