/* _grid-base.scss */
@use "./variables.scss" as variables;
@use "../mixins/grid" as grid;
@use "../mixins/grid-framework" as grid-framework;
@use "../mixins/_clearfix.scss" as clearfix;
@use "sass:math";

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.
.container {
    @include grid.jtf-container-fixed;

    /* default bootstrap small size breakpoint: 768px */
    @media (min-width: variables.$screen-sm-min) {
        width: variables.$container-sm;
    }

    /* default bootstrap medium size breakpoint: 992px */
    @media (min-width: variables.$screen-md-min) {
        width: variables.$container-md;
    }

    /* default bootstrap large size breakpoint: 1200px */
    @media (min-width: variables.$screen-lg-min) {
        width: variables.$container-lg;
    }

    /* default bootstrap large size breakpoint: 1800px */
    @media (min-width: variables.$screen-xl-min) {
        width: variables.$container-xl;
    }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.
.container-fluid {
    @include grid.jtf-container-fixed;
}

// Row
//
// Rows contain and clear the floats of your columns.
.row {
    margin-left:  calc(variables.$grid-gutter-width / -2);
    margin-right: calc(variables.$grid-gutter-width / -2);
    @include clearfix.jtf-clearfix();
}

// Columns
//
// Common styles for small and large grid columns
@include grid-framework.jtf-make-grid-columns();
