/* _grid-base.scss */
@import "variables";
@import "../mixins/grid";
@import "../mixins/grid-framework";

// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.
.container {
    @include jtf-container-fixed;

    /* default bootstrap small size breakpoint: 768px */
    @media (min-width: $screen-sm-min) {
        width: $container-sm;
    }

    /* default bootstrap medium size breakpoint: 992px */
    @media (min-width: $screen-md-min) {
        width: $container-md;
    }

    /* default bootstrap large size breakpoint: 1200px */
    @media (min-width: $screen-lg-min) {
        width: $container-lg;
    }

    /* default bootstrap large size breakpoint: 1800px */
    //@media (min-width: $screen-xl-min) {
    //    width: $container-xl;
    //}
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but without any defined
// width for fluid, full width layouts.
.container-fluid {
    @include jtf-container-fixed;
}

// Row
//
// Rows contain and clear the floats of your columns.

.row {
    margin-left:  ceil(calc($grid-gutter-width / -2));
    margin-right: floor(calc($grid-gutter-width / -2));
    @include jtf-clearfix;
}

// Columns
//
// Common styles for small and large grid columns
@include jtf-make-grid-columns;

