/* _horizontal-rule.scss */
@use "./variables.scss" as variables;
@use "./_colors.scss" as colors;

hr {
    margin-top: variables.$line-height-base;
    margin-bottom: variables.$line-height-base;
    border: 0;
    border-top: 1px solid colors.$grey-lighten-3;
}
