/* _labels.scss */
@import "variables";
@import "../mixins/labels";

.label {
    display: inline;
    padding: 3px 7px 3.5px 7px;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: $white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;

    // Empty labels collapse automatically (not available in IE8)
    &:empty {
        display: none;
    }

    // Quick fix for labels in buttons
    .btn & {
        position: relative;
        top: -1px;
    }
}

// Add hover effects, but only for links
a.label {
    &:hover, &:focus {
        color: $white;
        text-decoration: none;
        cursor: pointer;
    }
}

// Colors
// Contextual variations (linked labels get darker on :hover)
.label-default {
    @include jtf-label-variant($grey-darken-1);
}

.label-primary {
    @include jtf-label-variant($light-blue-darken-3);
}

.label-success {
    @include jtf-label-variant($green);
}

.label-info {
    @include jtf-label-variant($light-blue);
}

.label-warning {
    @include jtf-label-variant($amber-darken-2);
}

.label-error {
    @include jtf-label-variant($red-darken-1);
}
