/* _typography-links.scss */
@use "./variables.scss" as variables;
@use "../mixins/_tab-focus.scss" as tabFocus;
@use "./_colors.scss" as colors;

a {
    color:           colors.$light-blue-darken-3;
    text-decoration: none;

    &:hover, &:focus {
        color:           colors.$light-blue-darken-4;
        text-decoration: underline;
    }

    &:focus {
        @include tabFocus.jtf-tab-focus;
    }
}
