/* 05-forms.css */

fieldset {
    padding: 0;
    margin: 0;
    border: 0;
    min-width: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: inherit;
    color: #212121;
    border: 0;
    border-bottom: 1px solid #e0e0e0;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type=search] {
    box-sizing: border-box;
}

input[type=radio], input[type=checkbox] {
    margin: 4px 0 0 0;
    line-height: normal;
}

input[type=file] {
    display: block;
}

input[type=range] {
    display: block;
    width: 100%;
}

select[multiple], select[size] {
    height: auto;
}

input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

output {
    display: block;
    padding-top: 7px;
    font-size: 16px;
    line-height: 24px;
    color: #424242;
}

.form-control {
    display: block;
    width: 100%;
    height: 33px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 24px;
    color: #424242;
    background: #ffffff none;
    border: 1px solid #bdbdbd;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
    border-color: #03a9f4;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(3, 169, 244, 0.6);
}

.form-control::-moz-placeholder {
    color: #9e9e9e;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #9e9e9e;
}

.form-control::-webkit-input-placeholder {
    color: #9e9e9e;
}

.form-control::-ms-expand {
    border: 0;
    background-color: transparent;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eeeeee;
    opacity: 1;
}

.form-control[disabled], fieldset[disabled] .form-control {
    cursor: not-allowed;
}

textarea.form-control {
    height: auto;
}

input[type=search] {
    -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    input[type=date].form-control, input[type=time].form-control,
    input[type=datetime-local].form-control, input[type=month].form-control {
        line-height: 33px;
    }
}

.form-group {
    margin-bottom: 16px;
}

.radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
    min-height: 24px;
}

.radio label, .checkbox label {
    min-height: 24px;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
}

.radio input[type=radio], .radio-inline input[type=radio],
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox] {
    position: absolute;
    margin-left: -20px;
    margin-top: 6px;
}

.radio + .radio, .checkbox + .checkbox {
    margin-top: -5px;
}

.radio-inline, .checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}

.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 10px;
}

input[type=radio][disabled], input[type=radio].disabled, fieldset[disabled] input[type=radio],
input[type=checkbox][disabled], input[type=checkbox].disabled, fieldset[disabled] input[type=checkbox] {
    cursor: not-allowed;
}

.radio-inline.disabled, fieldset[disabled] .radio-inline,
.checkbox-inline.disabled, fieldset[disabled] .checkbox-inline {
    cursor: not-allowed;
}

.radio.disabled label, fieldset[disabled] .radio label,
.checkbox.disabled label, fieldset[disabled] .checkbox label {
    cursor: not-allowed;
}
