/* 06-buttons.css */

.btn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    touch-action: manipulation;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #000000;
    text-decoration: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn:active, .btn.active {
    outline: 0;
    background-image: none;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    box-shadow: none;
    opacity: 0.65;
    filter: alpha(opacity=65);
}

a.btn.disabled, fieldset[disabled] a.btn {
    pointer-events: none;
}

.btn-primary {
    color: #ffffff;
    background-color: #1565c0;
    border-color: #0d47a1;
}

.btn-primary:focus, .btn-primary.focus {
    color: #ffffff;
    background-color: #104d92;
    border-color: #03132b;
}

.btn-primary:hover {
    color: #ffffff;
    background-color: #104d92;
    border-color: #082e68;
}

.btn-primary:active, .btn-primary.active {
    color: #ffffff;
    background-color: #104d92;
    border-color: #082e68;
}

.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus,
.btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus {
    color: #ffffff;
    background-color: #0c3c72;
    border-color: #03132b;
}

.btn-primary:active, .btn-primary.active {
    background-image: none;
}

.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus,
.btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #1565c0;
    border-color: #0d47a1;
}

.btn-primary .badge {
    color: #1565c0;
    background-color: #ffffff;
}

.btn-secondary {
    color: #212121;
    background-color: #ffffff;
    border-color: #bdbdbd;
}

.btn-secondary:focus, .btn-secondary.focus {
    color: #212121;
    background-color: #e6e6e6;
    border-color: #7d7d7d;
}

.btn-secondary:hover {
    color: #212121;
    background-color: #e6e6e6;
    border-color: #9e9e9e;
}

.btn-secondary:active, .btn-secondary.active {
    color: #212121;
    background-color: #e6e6e6;
    border-color: #9e9e9e;
}

.btn-secondary:active:hover, .btn-secondary:active:focus, .btn-secondary:active.focus,
.btn-secondary.active:hover, .btn-secondary.active:focus, .btn-secondary.active.focus {
    color: #212121;
    background-color: #d4d4d4;
    border-color: #7d7d7d;
}

.btn-secondary:active, .btn-secondary.active {
    background-image: none;
}

.btn-secondary.disabled:hover, .btn-secondary.disabled:focus, .btn-secondary.disabled.focus,
.btn-secondary[disabled]:hover, .btn-secondary[disabled]:focus, .btn-secondary[disabled].focus,
fieldset[disabled] .btn-secondary:hover, fieldset[disabled] .btn-secondary:focus,
fieldset[disabled] .btn-secondary.focus {
    background-color: #ffffff;
    border-color: #bdbdbd;
}

.btn-secondary .badge {
    color: #ffffff;
    background-color: #212121;
}
