/* 09-alerts.css */

.alert {
    padding: 16px;
    margin-bottom: 24px;
    border: 1px solid transparent;
    border-radius: 2px;
}

.alert .alert-link {
    font-weight: bold;
}

.alert > p, .alert > ul {
    margin-bottom: 0;
}

.alert > p + p {
    margin-top: 6px;
}

.alert-success {
    background-color: #f1f8e9;
    border-color: #c5e1a5;
    color: #33691e;
}

.alert-success .alert-link {
    color: #204113;
}

.alert-info {
    background-color: #e1f5fe;
    border-color: #81d4fa;
    color: #01579b;
}

.alert-info .alert-link {
    color: #013b68;
}

.alert-warning {
    background-color: #fffde7;
    border-color: #fff59d;
    color: #8d6e63;
}

.alert-warning .alert-link {
    color: #6f574e;
}

.alert-error {
    background-color: #ffe6e8;
    border-color: #ef9a9a;
    color: #b71c1c;
}

.alert-error .alert-link {
    color: #8b1515;
}
