/*****************************************************************************
 * Name:    nav-menu.scss (joestrap.css)
 * Author:  Joe Fallon <joseph.t.fallon@gmail.com>
 *****************************************************************************/

.navbar {
    background-color: #ffccff;
}

.navbar-logo > a > img {
    height: 75px;
}

.nav-item {
    display: inline-block;
    width: 100px;
}

.nav-item:hover {
    background-color: #caffd8;
}

.nav-item > a {
    text-decoration: none;
    display: block;
    padding: 25px 0 25px 0;
}

.nav-item ul {
    display: none;
    position: absolute;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
    list-style: none;
    text-align: left;
    width: 100px;
}

.nav-item ul li {
    padding: 10px 0 10px 0;
}

.nav-item ul, .nav-item ul li {
    margin: 0;
    padding: 0;
    background-color: #caffd8;
}

.nav-item:hover > ul {
    display: block;
}

.nav-item ul li:hover {
    background-color: #f9dfc2;
}

/*

.loc-dropdown
{
    min-width: 148px;
}

#locations-dropdown a:hover
{
    text-decoration: none;
}

.loc-dropdown:hover .loc-dropdown-menu
{
    display: block;
}

.loc-dropdown-menu
{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    list-style: none;
    min-width: 148px;
    text-align: left;
}

.loc-dropdown-menu, .loc-dropdown-menu li
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;

}

.loc-dropdown-menu li, .loc-dropdown-menu li a
{
    height: 35px;
    line-height: 35px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 14px;
}

.loc-dropdown-menu li a
{
    padding-left: 10px;
    padding-right: 10px;
}

 */
